 /*----------------------Desktop -------------------------------*/

 :root {
  --body-bg:#f9f9f9;
  --gray:#4c565e;
  --link-gray:#7f7f7f;
  --shadow-white: rgba(68, 85, 102, 0.5);
  --white:#ffffff;
  --p-gray:#445566;
  --form-border: #aabbcc;
  --form-focus: #0099ee;
  --form-error: #ff0000;
}


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
 
  width: 120 rem;
  font-family: Roboto;
}
h3 {
  color:  var(--gray);
  font-stretch: normal;
 font-style: normal;
 line-height: 1.56;
 letter-spacing: normal;

}
h5{
  color:  var(--gray);
  font-stretch: normal;
 font-style: normal;
 line-height: 1.56;
 letter-spacing: normal;


}
h6{
font-stretch: normal;
 font-style: normal;
 line-height: 1.56;
 letter-spacing: normal;
 font-weight: bold; 
}

p {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  /* text-align: center; */
  color: var(--p-gray);
}

a{
  color: var(--link-gray);
  font-size: 1 rem;

  text-decoration: none;
   font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

}


 /*---------------------------------------
      Navbar             
  -----------------------------------------*/
nav{
  background: var(--white);
 margin: 0 auto;
  width: 75%;

  display: grid;
  grid-template-columns: 1fr 3fr;
 
}
img.Snubes_logo {
  width: 10.125rem;
  height: 2.25rem;
  object-fit: contain;
  margin-left: -2rem;
  margin-top: 1.113rem;
}
nav ul{

  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
nav ul li{

/* margin-top: .5rem; */
  margin: 1.5rem .4rem 0rem .4rem;
}
/* nav ul li a{
  

} */
a.active,a:hover{
  background: none;
  color: #020202;

}
.checkbtn{
  font-size: 30px;
  color: var(--form-border);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
 /*---------------------------------------
     Form  section Grid         
  -----------------------------------------*/
/* .bc{
  background-image: url(./img/background.png) ;
 
 background-repeat: no-repeat;
 background-size:120rem 31.625rem;
 background-position: 0% 27%;

} */
  .contanir{
    background-image: 
    linear-gradient(to bottom, rgba(68, 85, 102, 0), rgba(68, 85, 102, 0.75)),
    url(../img/background.png) ;
    background-repeat: no-repeat;
    background-size:120rem 31.625rem;
    background-position: 100% 100%;
    margin-bottom: .625rem;
    height: 31.5rem;

}


  .wrapper{
   margin: auto 0;
  /* width: 62%; */
  /* height:500%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-auto-rows: 31.6rem; */
  background: transparent;
 
    
}


.wrapper > div{

  padding: 1.3rem;
}



 /*---------------------------------------
     Welcome Section          
  -----------------------------------------*/
.Welcome__title{

  width: 30rem;
  height: 1.75rem;
  margin: 21rem 0.75rem 0.625rem 2.313rem;
  /* text-shadow: 0 0 5px var(--shadow-white); */
  color: var(--white);
}
.Welcome__div{
  width: 30.6rem;
  height: 6.75;
display: flex;
justify-content: space-between;

text-shadow: 0 0 5px var(--shadow-white);


}
.Welcome__item {

  display: flex;
  flex-direction: column;
  align-items: center;

 
  
}
.Welcome__item h1 {
  text-align: center;
  width: 8.563rem;
  height: 2rem;
  /* text-shadow: 0 0 5px var(--shadow-white); */
  font-size: 2rem;
  color: var(--white);

}
.Welcome__item p {
  height: 1.125rem;
  text-shadow: 0 0 5px var(--shadow-white);
  color: var(--white);

}

 /*---------------------------------------
     Form        
  -----------------------------------------*/


.form-basic{
  /* margin: 0 0 0 15.31rem; */

  width: 38.375rem;
  height: 28.7rem;
  /* margin: 0 2.313rem 0 0; */
  object-fit: contain;
  box-sizing: border-box;
  align-self: center;
  justify-self: right;
  margin-right:.5rem;
  background-color:  var(--white);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
border-radius: 8px;
padding-top: 1rem; 

  /* font: bold 14px sans-serif; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.form-title-row h3{
margin: 0rem;
} */
.form-basic .form-title-row{
  text-align: center;
}
.form-basic p{
  text-align: center;

}
.form-row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.form-basic .form-row > label{
  
  color: var(--p-gray);
margin-right: 1rem;
  align-self: center;
  justify-self: right;
}

.form__input{
  color:  var(--p-gray);
  margin-bottom: 1rem;
  box-sizing: border-box;
  border-radius:0.25rem;
  width:85%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 0.50rem;
  border: 1px solid var(--form-border)

}
::placeholder{
  color: var(--form-border);
}
.country-code{

 width: 50px;
   height: 42px;
   padding: 0px;
   border-right-width:0rem

}

input.alert__red {
  border: 1px solid var(--form-error);
}


.form-basic input:focus {
  outline: 0;
  border: 1px solid var(--form-focus);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form p{
  color: var(--form-error);
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  
}
.form-basic button{
  /* display: block; */
  width: 17.5rem;
  height: 3rem;
  border-radius: 4px;
  background-color: var(--form-focus);
  color: var(--white);
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin-left: 4rem;
  margin-top: .6rem;
  /* margin: 0 auto; */
  /* margin: 40px 0px 0px 80px; */
}

  /*---------------------------------------
      customers            
  -----------------------------------------*/
.form-basic  h6 {
  font-size: 1.15rem;
  display:inline-block;
  margin-top: 0.6rem;

}
.confirm{
  margin-bottom: 3rem;
}
.confirm h3{
  margin-bottom: 1.5rem;

}


 /*---------------------------------------
      Service section          
  -----------------------------------------*/
  .service__container{

    /* padding:15rem 0;*/
background-color: var(--white);
    width: 100vw;
    height: 18.938rem;
    margin: 0.625rem 0 .;
    padding: 1.875rem 0rem;
    border-bottom: .625rem solid  var(--body-bg);
  
    /* 23.75rem; */
 display: flex;
 /* flex-direction: column;  */
justify-content:center;
align-items:center;
/* gap: 3rem; */
/* padding:8rem 5rem; */

}

.servicesItem {
 width: 22.5rem;
 /* text-align: center; */
display:flex;
flex-direction: column;
align-items: center; 
justify-content:center;
/* height: 20px; */
margin: 0 0rem 1rem 0rem;

}

img.servicesItem__img {
 width: 5rem;
 height: 5rem;
 margin: 0 0rem 0.625rem 0rem;
 object-fit: contain;
}

.servicesItem__title {
 width: 22.5rem;
 height: 1.75rem;
 margin: 0.625rem 2.5rem 0.313rem;

 text-align: center;
 color: #456;

}

.servicesItem__body {
 width: 22.5rem;
 height: 3.5rem;
 padding-left: 2rem;
 margin: 0.313rem 1rem 0 1;
 text-align: center;
 color: #456;
}
 /*---------------------------------------
      Why section          
  -----------------------------------------*/
  .why__background{
    height: 37.5rem;
  
      /* background-size: 120rem  37.5rem;  */
    background-image: url(../img/why.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%;

    border-bottom: .625rem solid  var(--body-bg);
  }
  
  
  .why__container{
   position: absolute;
   left: 30%;
   width: 37.5rem;
  }   

  .why__container h3{
    margin-top: 3.3rem;  
  }  
  .why__text{
    margin-top: 2.3rem
  }
  .whyItem__body{
    margin-top: 0.125rem
  }

 /*---------------------------------------
      Logos section          
  -----------------------------------------*/

  .logo__container{
display: grid;
grid-template-columns: repeat(5, 1fr);
width:70rem;
margin: 0 auto;
border-bottom: 1.25rem solid  var(--body-bg);
padding: 1rem 0 1rem 0;

  }
  .logo__div{
    align-self: center;
    justify-self: center;

  }
  .logo__img{
   
    width: 7rem;
    height: auto;
  }
 /*---------------------------------------
      Footer section          
  -----------------------------------------*/
.footer__container{

  width: 100vw;
  background-color: #4a4a4a;

}
  .footer__grid{
color:#fff;
    width: 100%;
  height: 14.625rem;
  width:70rem;
  margin: 0 auto;
  padding: 4rem 0rem 4rem 0rem;
 
  display: grid;
grid-template-columns: 1fr 3fr;
  }

  .footer__item {
    color:rgb(253, 251, 251);
    margin: 0rem;
    padding: 0rem;
    height: 1rem;
    margin-right: .5rem;
    text-transform: none ;
  }

  .footer__info{
color:#fff;
display: grid;
grid-template-columns: repeat(3, 1fr);
/* padding-top: 3rem; */
grid-auto-rows: minmax(30px, auto);
height: 10px;

  }
  .footer__grid img{
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
  }

  
.footer__footer {
padding-top: 1.5rem;
  text-align: center;
width: 100vw;
background-color: #fff;;
}
/* .logo__img{
  width: 60%;
  height: 60%;
} */

 /*---------------------------------------
      Slider section          
  -----------------------------------------*/

  .slider{
    height: 27rem;
    display: grid;
grid-template-columns: 1fr 1.5fr 1fr;

  }
.slide img{
  width: 8.188rem;
  height: 2rem;
 margin-bottom: 2.5rem;
 margin-top: 1.75rem;
}
.slide p{
  font-style: italic;
  text-align: left;
  line-height:1.75rem
}
.slide h6{

  display: inline-block;
  margin-right: 5px;
}
  .arrow{
    align-self: center;
    font-size: 2rem;
  
    border-radius: 50%;
    padding: .15rem;
  }
  .slide{
 padding: 2rem;
    text-align: center;

  }
  .left-arrow{
    justify-self: right;
    margin-right:5rem;
   
  }
  .right-arrow{
 
    justify-self: left;
    margin-left:5rem;

  }

  .loader {
  margin-top: .5rem;
    opacity: 1;
    display: flex;
    justify-content: center;
    /* position: fixed;
    bottom:28%;
    left: 48%; */
    transition: opacity 0.3s ease-in;

  }
  .circle {
    background-color: rgb(233, 242, 247);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
  }
  .circle__active{
    background-color: var(--form-border);
  }

  /*----------------------Mobile -------------------------------*/




 

 